/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}
body {
  margin: 0%;
  background-color: #caf0f8;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
}
h2 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #062c30;
}
h3 {
  color: #051367;
}
h4 {
  color: #1c0a00;
  font-family: "Montserrat", sans-serif;
}

.uk {
  height: 300px;
  width: 100%;
}
.sikkim {
  height: 300px;
  width: 100%;
}
.kashmir {
  height: 300px;
  width: 100%;
}
.goa {
  height: 300px;
  width: 100%;
}
.megha {
  height: 300px;
  width: 100%;
}

.page {
  padding-top: 5%;
  background-color: #61a4bc;
  text-align: center;

  left: 0;
  bottom: 0;
  width: 100%;
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
  background-color: #111;
}
